/* ------------------- MAIN FONT TYPE AND STYLING ------------------ */

$main-font: 'Roboto Slab',sans-serif;
$secondary-font: 'Open Sans' , sans-serif;
$color-1: #dc2028;
$main-font-color: #333333;

/* buttons */

$button-font-light: #fff;
$button-font-dark: #333;
$button: $color-1;
$button-press: #333;
$button-dark: #333;
$button-dark-press: #4b4b4b;

$newsletter-pop-bg: "../img/bg/newsletter_popup_bg.png";
$addedtocart-pop-bg: "../img/bg/addedtocart_popup_bg.png";
$session-pop-bg: "../img/bg/addedtocart_popup_bg.png";

$four04image: "../img/bg/bg_404.jpg";