/*------------------------------------------------------------------*/


/* Product Item */


/*------------------------------------------------------------------*/

.product-item .product-item-inner {
    position: relative;
   // margin-bottom: 10px;
    overflow: hidden;
    height:120px;
}

.product-item .product-item-inner img {
    width: 100%;
}

.product-item .product-button {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    opacity: 0;
    bottom: -50px;
    left: 50%;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border: 1px solid #eeeeee;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: table;
    text-align: center;
}

.product-item .product-button a {
    border-right: 1px solid #eeeeee;
    font-size: 18px;
    padding: 15px 20px;
    display: table-cell;
    /*vertical-align: middle;*/
}

.product-button a:last-child {
    border: none;
}

.product-item:hover .product-button {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}

.product-item .product-detail .tag {
    margin-bottom: 5px;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.product-item .product-detail .tag:hover {
    color: #dc2028;
}

.product-item .product-detail h5 {
    margin-bottom: 0;
}

.product-item .product-detail {
    overflow: hidden;
    text-align: center;
}

.product-item .product-detail del {
    font-weight: 400 !important;
    margin-right: 7px;
    color: #999;
    font-style: italic;
}

.product-list-item .product-item .product-description {
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-list-item .product-item .product-description,
.product-item .product-description,
.product-list-item .product-item .tag,
.product-item .tag,
{
    display: none;
}

.product-list-item .product-rating {
    margin-top: 20px;
}

.product-list-item.product-list-view .product-item .product-description,
.product-list-item.product-list-view .product-item .tag,
.product-list-item.product-list-view .product-item .product-rating {
    display: block;
}

.product-list-item.product-list-view .product-item .product-title,
.product-list-view .product-item .product-title {
    font-size: 18px;
}

.product-item .product-detail .item-price,
.product-item .product-detail .star-rating {
    display: inline-block;
}

.product-rating-count {
    display: inline-block;
}

.product-rating .star-rating {
    float: none;
    display: inline-block;
    margin-top: 0;
}

.product-rating-count {
    margin-left: 7px;
    color: #f55151;
}

.product-rating-count:hover {
    color: #f55151;
    text-decoration: underline;
}

.product-item .new-label,
.product-item .sale-label {
    display: block;
    font-size: 10px;
    font-weight: 600;
    height: 35px;
    line-height: 34px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    width: 35px;
    z-index: 2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.product-item .new-label {
    background: #dc2028;
    color: #fff;
}

.product-item .sale-label {
    background: #f55151;
    color: #fff;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 999;
    .ribbon {
      font: bold 13px;
      color: #333;
      text-align: center;
      -webkit-transform: rotate(-45deg);
      -moz-transform:    rotate(-45deg);
      -ms-transform:     rotate(-45deg);
      -o-transform:      rotate(-45deg);
      position: relative;
      padding: 7px 0;
      top: 15px;
      left: -30px;
      width: 120px;
     
      color: #fff;
    }
    .red{ background-color: $color-1;}
    .green{ background-color: green};

  }
  