@media all and (max-width: 1690px) { 
    
}
@media all and (max-width: 1280px) { 
        .product-list-item{
        product-img-wrap{  
                max-height:284px;
           
        }
}
}
@media all and (max-width: 980px) { 
        .product-img-wrap{  
                max-height:350px;
        }

    .product-list-item{
        .product-img-wrap{  
            max-height:184px;
            max-width:184px;
    }
    }


 }
@media all and (max-width: 736px) { 
    
 }
@media all and (max-width: 480px) { 
    
 }