/*------------------------------------------------------------------*/


/* All Pages */


/*------------------------------------------------------------------*/

.map.style1 {
    height: 450px;
    margin-top: 0;
    border: 1px solid #eee;
}

.Contact-information {
    list-style: none;
    padding: 0;
    color: #777;
}

.Contact-information li {
    margin-left: 0;
    padding: 0;
}

.Contact-information li i {
    margin-right: 10px;
}

 
