/*------------------------------------------------------------------*/


/* Checkout Page */


/*------------------------------------------------------------------*/

.product-checkout .checkout-order-review {
    background-color: #eee;
    margin-top: 8px;
    padding: 40px 30px;
}

.product-checkout .checkout-order-review h3 {
    text-align: center;
}

.product-checkout .checkout-order-review .product-checkout-review-order {
    display: flex;
    flex-direction: column;
}

.product-checkout-review-order .responsive-table {
    background-color: #fff;
    padding: 20px 25px 0;
    margin-bottom: 30px;
}

.product-checkout-review-order table tr th,
.product-checkout-review-order table tr td {
    border: medium none;
    max-width: 50%;
    width: 50%;
}

.product-checkout-review-order .product-total,
.product-checkout-review-order .cart-subtotal td,
.product-checkout-review-order .shipping td,
.product-checkout-review-order .order-total td,
.product-checkout-review-order .taxes td,
.product-checkout-review-order .promotion td {
    text-align: right;
}

.product-checkout-review-order .cart-subtotal th,
.product-checkout-review-order .shipping th,
.product-checkout-review-order .taxes th,
.product-checkout-review-order .promotion th,

{
    text-align: left;
    text-transform: none;
}

.product-checkout-review-order .order-total th {
    text-align: left;
}

.product-checkout-review-order .order-total th,
.product-checkout-review-order .order-total td {
    font-size: 22px;
    font-weight: 600;
}

.product-checkout-review-order .order-total td {
    color: #dc2028;
}

.product-checkout-payment {}

.product-checkout-payment ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-checkout-payment ul li {
    margin-bottom: 20px;
}

.product-checkout-payment ul li input[type="radio"],
.product-checkout-payment ul li label {
    display: inline-block;
    margin: 0;
}

.product-checkout-payment ul li img.paypal-img {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.shipping_info{
  
        p{
            font-size:11px;
            line-height: 12px;
         
            span{
                color: $color-1
            }
        }
 
}

.product-pomotion-amount{
    color: $color-1;
}


.top-callout{ 
    padding:10px;
    border:10px solid #f8f8f8;
    background-color: #000;
    background-image: url(../img/bg/bg_10.jpg);
    background-blend-mode: screen, difference, darken;
    p{
        color:#fff;
        text-align:center;
        a{
            color:#fff;
            text-decoration:underline
        }
        a:hover{
            color:$color-1;
        }
    }
}

.left-one{
    background-position: top
}

.right-one{
   
    background-position: bottom right

}

