// these are overwrites for Hawk Search

.row, .field{
    text-align: left !important;
}

.hawk-railNavHeading{
    background: $color-1 !important;
}
.hawk-listingControls .hawk-mainControls{
    background: none !important;
}

#hawkitemlist {
    .product-img-wrap{
        min-height: 180px;
    }
}

#hawktoppager{

    *:last-child{
        margin-right:0;
    }
    display: inline-block;
  width:82%;

  .hawk-guidedNavWrapper .hawk-selectedNav {
    background-color: #fff;
    border-bottom: none !important;
}
.hawk-guidedNavWrapper .hawk-navGroup {
    padding: 10px 0;
    border-top: none !important;
    border-bottom: none !important;
}



.hawk-guidedNavWrapper .hawk-selectedGroup {
    padding: 0px !important;
    border-top: none !important;
    border-bottom: none !important;
}

.hawk-guidedNavWrapper .hawk-selectedGroup ul {
    max-height: none;
    margin: 0;
    overflow: visible;
    background:none !important;
    border:none !important;
}

.hawk-guidedNavWrapper .hawk-navGroup li {
    position: relative;
    margin-top: 10px;
    float:left; 
    margin-right:15px;
    padding:2px 4px;
}

.hawk-guidedNavWrapper .hawk-selectedGroup ul a, .hawk-guidedNavWrapper .hawk-selectedGroup ul a:link, .hawk-guidedNavWrapper .hawk-selectedGroup ul a:visited {
    font-size: .9em;
    font-weight: 600;
}
.hawk-guidedNavWrapper .hawk-selectedGroup ul a:hover{
    background-color:#000;
    color:#fff;
}
    .hawk-listingControls{
        display: inline-block;
        width: 100%;
        border: none; 
        background: none;
    }
   h1.hdng{
        font-size: 28px !important;
        line-height: 1.3 !important;
    }
    .hawk-sortWrapper .sortList label{
        color:#000 !important;;
        display: inline-block;
        vertical-align: middle;
        margin-bottom:0;
        padding-left:0;
        font-size:13px !important;;
        font-weight:400 !important;;

    }

    .hawk-listingControls .hawk-pagination .hawk-paging a.hawk-pageLink, .hawk-listingControls .hawk-pagination .hawk-paging a.hawk-pageLink:link, .hawk-listingControls .hawk-pagination .hawk-paging a.hawk-pageLink:visited {
        display: inline-block;
        min-width: 15px !important;;
        padding: 4px 5px !important;;
        text-decoration: none;
        color:#000;
    }

.hawk-listingControls .hawk-pagination .hawk-paging .hawk-pageActive {
    display: inline-block;
    min-width: 20px !important;;
    padding: 4px 5px !important;;
    text-decoration: none;
    text-align: center;
    background-color: $color-1 !important;;
    color: #fff;
}
.hawkmpp{
    margin-left:20px
}

.hawk-listingControls .hawk-pagination .hawk-paging .total {
    color: #000 !important;
}

.hawk-listingControls .hawk-pagination {
    float: left !important;;
    width: auto;
    margin: 3px 20px 0px 20px !important;;
}
.hawk-guidedNavWrapper .hawk-navGroup li a:hover{
    color:$color-1 !important;
 
}

}

.product-view-icon-active {
    .fa{
        //padding-top:10px;
    }
}

.hawk-guidedNavWrapper .hawk-navGroup ul {
    padding: 0 5px 5px 5px !important;
    border:none !important;

}

.hawk-guidedNavWrapper .hawk-navGroup li a:hover {
 color: $color-1 !important; 
}

.hawk-noUi-connect {
    background: #000;
    box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.hawk-facetCount{
    font-style: italic !important;
    font-size:11px !important;
}


.hawk-groupHeading{
    font-size:18px !important;
}



.hawk-guidedNavWrapper .hawk-navGroupContent {
   padding:0px !important;
}



.hawkRailNav {
    background-color: #fff !important;;
    border: none !important;
    overflow: hidden;
    margin: 0 0 15px 0;
}
