/*==========================================================================================================*/


/* INTRO     ||---------------------------- */


/*==========================================================================================================*/


/*intro*/

.intro {
    background-color: #333;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.tp-bannertimer {
    display: none !important;
}

img.tp-caption {
    /*width:100%;*/
    /*max-width:100%;*/
}